<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Shorten URL Service</title>
</head>
<body>
    <div>
        <form action="/" method="POST">
        <label for="longurl">LONG URL:</label>
        <input type="text" id="longurl" name="long_url" style="width: 600px">
        <button type="button" id="button">Shorten</button>
        <hr/>
        <label for="shorturl">SHORT URL:</label>
        <textarea type="text" id="shorturl" name="short_url" cols="40" rows="5">
        </textarea>
        </form>
    </div>
<script src="{{ url_for('static', filename='js/jquery.js') }}"></script>
<script src="{{ url_for('static', filename='js/custom.js') }}"></script>
</body>
</html>